body {
	width: 1000px;
	font-family: Roboto;
}

.section1 {
	float: left;
	margin-left: 200px;
	margin-top: 100px;
}

.section2 {
	display: inline-block;
	float: right;
	margin-top: 110px;
}

.section3 {
	float: right;
	width: 320px;
}

.section4 {
	float: right;
	margin-top: 15px;
}

footer {
	clear: both;
	height: 20px;
}

ul {
	list-style-type: none; 
	display: inline;
	text-align: center;
	text-transform: uppercase;
}

.blueButton {
	height: 40px;
	width: 120px;
	background-color: #458eff;
	color: white;
	border-radius: 3px;
}